build
builds
site
docs/drawio-exporter
__pycache__

hanami_env

testing/go_cli_api/hanamictl
testing/ansible_deploy/.vagrant/

src/cli/hanamictl/hanamictl
src/sdk/python/sdk_test_env
src/sdk/python/hanami_sdk/dist
src/sdk/python/hanami_sdk/build
src/sdk/python/hanami_sdk/hanami_sdk.egg-info
src/sdk/python/hanami_sdk/hanami_messages

gitIdentityChange.sh
proto3_pb2.py
CMakeLists.txt.user

*.proto3.pb.go
*.qmake2cmake
*.pro.user*
*.pb.cc
*.pb.h
*.drawio.bkp
*.png~
*.dtmp
*.tar.gz
*.tgz
*.whl
*.orig
*.egg-info
